* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

.main {
  
  position: relative;
  
  height: 100vh;
  width: 100%;
  
  background: lighten(black, 10%);
  
  display: flex;
  flex-grow: 0;
  flex-basis: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  
  overflow-y: scroll;
  
  h3 {
    color: darken(white, 10%);
    text-align: center;
  }
  
  section {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    min-height: 5rem;
        
    .member {
      
      margin-right: -10px; 
      
      height: 5rem;
      aspect-ratio: 1;
            
      background: var(--img-url) center center;
      background-size: cover;
      border-radius: 50%;
      border: 2px white solid;
      box-shadow: 0 0 10px fade(black, 90%);
      
      transition: .5s;
      
      &:hover {
        margin-top: -2rem;
        box-shadow: 0px 10px 10px fade(white, 20%);
        border-radius: calc(50% - 8px);
        
      }
      
    }
    
  }
  
}

.tooltip-flair {
  position: absolute;
  
  border: 2px fade(white, 60%) solid;
  border-radius: 32px;
  background-color: fade(white, 90%);
  scale: 0;
  
  top: 0px;
  left: 0px;
  transform: translate(-50%, 50%);
  transform-origin: 0% 50%;
  
  padding-inline: 2rem;
  padding-block: .5rem;
  
  transition: scale .5s;
  
  &__active {
    scale: 1;
  }
  
  span {
    font-weight: 600;
    color: darken(white, 80%);
    text-align: center;
  }
  
}
