doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document

    mixin memberCard(image, name)
      .member(data-name=`${name}`, style=`--img-url: url(${image});`)

  body
    link(rel="stylesheet" href="TheTeam.css")

    .main
      .tooltip-flair
        span CONTENT

      h3 Development
      section
        +memberCard("https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "Curly hair")
        +memberCard("https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "Banana background")
        +memberCard("https://images.pexels.com/photos/1681010/pexels-photo-1681010.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "Fine dude")

      h3 Management
      section
        +memberCard("https://images.pexels.com/photos/428364/pexels-photo-428364.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "Side profile man")
        +memberCard("https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "Silhoutte man")

      h3 Design
      section
        +memberCard("https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "Smiling guy")
        +memberCard("https://images.pexels.com/photos/60712/fashion-girl-sexy-women-60712.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "Staring woman")
        +memberCard("https://images.pexels.com/photos/735552/pexels-photo-735552.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "Woman who blends with the background")

    script(src="TheTeam.js")